.content3-card button {
  padding: 21px 85px;
  font-size: 24px;
}
@media screen and (max-width: 1700px) {
  .content3-card button {
    padding: 15px 33px;
    font-size: 16px;
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
    .content3-card button {
      padding: 15px 33px;
      font-size: 16px;
      width: 100%;
    }
  }
