.second{
    background-color: brown;
    width: 30%;
    
}
.footer{
    display: flex;
    height: 500px;
    width: 100%;
}
.first{
    background-color: #232323;
    width: 70%;
    display: flex;
    color: #F0F0F0;
}
.about{
    width: 45%;
    margin-top: 80px;
    text-align: justify;
    margin-left: 150px;
}
.about div h5{
    margin-bottom: 0;
}
.about div p{
    margin-top: 0;
}
.imga {
    margin-top: 80px;
    width: 450px ;
    padding: 0 70px;
    margin-right: 50px;
}
.imga img {
    width: 100%;   
}

.helpbig{
    margin-top: 80px;
    text-align: justify;
    width: 25%;
    margin-left: 0%;
}
.h3{
    font-size: 25px;
    margin-bottom: 10px;
}
.h5{
    font-size: 20px;
}
.content_final{
    margin-bottom: 20px;
}
.helpbig li{
    list-style-type: disc; /* Dấu chấm tròn */
 
  font-size: 17px; 
}