.header {
  font-size: 20px;
}
.header .menu {
  display: flex;
  gap: 35px;
  justify-content: space-between;
  align-items: center;
}
.header .menu li {
  list-style: none;
  font-size: 20px;
  font-weight: 600;
  color: #96351e;
  text-decoration: none;
  border-bottom: 2px solid #ffffff00;
  cursor: pointer;
  padding: 0 0 8px 0;
}
.header .menu li:hover {
  border-bottom: 2px solid #a1a1a1;
}
.header .menu-mobie {
  display: none;
}

@media screen and (max-width: 1200px) {
  .header {
    padding-left: 5vw;
    gap: 3vw;
  }
  .header .menu {
    gap: 2vw;
  }
}
@media screen and (max-width: 900px) {
  .header .menu {
    display: none;
  }
  .header .menu-mobie {
    display: block;
    /* display: none; */
    position: absolute;
    background-color: #96351e;
    color: #fdf6e0;
    right: 0;
    z-index: 100;
    width: 50vw;
    text-align: center;
    padding: 2vh;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  .header .menu-mobie a {
    padding: 2vh;
    display: block;
    width: 100%;
    cursor: pointer;
  }
  .header .menu-mobie a:hover {
    opacity: 0.4;
  }
}
@media screen and (max-width: 600px) {
  .header .menu {
    gap: 1vw;
  }
  .header .menu-mobie {
    width: 100vw;
    top: 100%;
  }
}
