.header{
    font-size: 20px;
}
.header .menu{
    display: flex;
    gap: 35px;
    justify-content: space-between;
    align-items: center;
}
.header .menu li{
    list-style: none;
    font-size: 20px;
    font-weight: 600;
    color: #96351E;
    text-decoration: none;
    border-bottom: 2px solid #ffffff00;    
    cursor: pointer;
    padding: 0 0 8px 0;
}
.header .menu li:hover{
        border-bottom: 2px solid #A1A1A1;    
}