body {
  margin: 0;
    font-family: "Brygada 1918", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #FDF6E0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
